.page {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}
.nav__logo {
    width: 100px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.nav__links {
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    margin-top: 0;
    padding-left: 0;
}
.nav__link a {
    color: white;
    text-decoration: none;
}
.header {
    text-align: center;
    padding: 20px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__info {
    max-width: 50%;
}
.header__title {
    max-width: 600px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 10px;
}
.header__description {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
}
.header__link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.header__image {
    max-width: 40%;
    height: auto;
}
.header__address {
    font-style: normal;
    margin-top: 10px;
}
.header__footer {
    font-size: 14px;
    color: gray;
    text-align: center;
    margin-top: 20px;
}
.main__content-section {
    padding: 20px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
}